{ pkgs, config, lib, ... }:
with lib; let
  cfg = config.cv.CHANGE_ME;
in
{
  options.cv.CHANGE_ME.enable = mkOption {
    description = "Enable CHANGE_ME";
    type = types.bool;
    default = false;
  };

  config = mkIf (cfg.enable) { };
}
